.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

.form {
  width: 40%;
  margin-top: 1px;
}

@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}

#BD {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  #BD {
    width: 400px;
  }
}

#smiley {
  width: 30%;
  height: auto;
}

body {
  padding-top: 100px;
}

.card.w-25.attendeeList {
  margin: 1%;
}
