.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

@media (min-width: 400px) {
  .form {
    width: 100%;
    margin-top: 20px;
    padding: 15%;
  }
}

@media (min-width: 800px) {
  .form {
    width: 100%;
    margin-top: 250px;
    margin-left: 50px;
    padding: 15%;
  }
}
