.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

.form {
  width: 70%;
  margin-top: 10px;
  padding: 5%;
}

/* @media (min-width: 800px) {
  .form {
    width: 70%;
    margin-top: 10px;
    padding: 5%;
  }
} */

#BD {
  width: 60%;
  height: auto;
  margin-top: 20px;
}

#smiley {
  width: 30%;
  height: auto;
}

body {
  padding-top: 100px;
}
